{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
	{% if messages %}
		{% for message in messages %}
			<p>{{ message }}</p>
		{% endfor %}
	{% endif %}
{% endwith %}

<form action="/register" method="POST">
	<input type="username" name="username" placeholder="Username" />
	<input type="firstname" name="firstname" placeholder="First Name" />
	<input type="lastname" name="lastname" placeholder="Last Name" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value="Register" />
</form>

{% endblock %}